node_modules/
*.log
# image haute resolution IGN/Pleiades du pas de tir de Kourou : licence a clarifier, non publiee
space/data/photo-kourou-hi.jpg

# dépendances installées éventuelles
**/node_modules/
